{% extends 'expenses/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-10 col-md-8 col-xl-6 py-3">
                <h2>Dodaj/edytuj wydatek</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-10 col-md-8 col-xl-6 py-3">
                <form method="POST" class="expense-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
